
            
    <footer  style="background-color:rgb( 121,206,214)">
        <div class="foot col-md-4 d-flex align-items-center" style="display:inline-block;" >
          <a href="/" >
            <div class="blkimg" ><img src="/images/hamburger.png" ></div>
          </a>
        <h1 style="color:rgb(  0,60,65);"> <span class="mb-3 mb-md-0 text-body-secondary" style="color:rgb(  0,60,65);">Foodrizzle</span></h1> 
        <h6 >All rights reserved ©</h6>
        </div>
        
        <!-- <h3>Connect with us on</h3> -->
        <div class="menu"> 
          
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex" >
            <li class="ms-3" > <h3 >Connect with us on</h3></li>
            <li class="ms-3" ><a style="color:black" href="https://www.instagram.com/foodrizzle000/" ><img src="/images/instagram.jpg"  ></a></li>
            <li class="ms-3" ><a style="color:black" href="https://www.instagram.com/pritizza/" ><img src="/images/gmail.png"  style="background-color: white;"></a></li>
            <li class="ms-3" ><a style="color:black" href="https://www.instagram.com/pritizza/" ><img src="/images/facebook.png"  ></a></li>
          </ul></div>
       
      
      </footer>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
     
</body>
</html>