<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Tangerine:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default" style="position:fixed;width:100%;">
        <div class="container" style="margin-left: 0;margin-top: 20px;">
          <div class="navbar-header" style="margin-left: 10px;width:auto;">
            <!-- <div class="blkimg" style="margin-left: 15px;" ><img src="./hamburger.png" height="40"></div> -->
            <p class="navbar-brand" ><img src="/images/hamburger.png" height="40">Foodrizzle</p>
          </div>
            <div class="barMain" style="display:block;">
              <div class="bar" > <a href="/">Home</a></div>
            <div class="bar" > <a href="/recipe">ABOUT US</a></div>
              <div class="bar" > <a href="/compose">Compose</a></div>
              <div class="bar" ><a href="/contact">Travel</a></div>
             <div class=" dropdown" ><li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style=" font-family:'Times New Roman', Times, serif;
                font-size: 1.25rem;margin-right: 30px;">
                  Category
                </a>
                <ul class="dropdown-menu" >
                  <li ><a class="dropdown-item" href="#" >Drinks</a></li>
                  <li><a class="dropdown-item" href="/salads">Salads</a></li>
                  <li><a class="dropdown-item" href="/baking">Baking</a></li>
                  <li><a class="dropdown-item" href="/maincourse">Maincourse</a></li>
                  <li><a class="dropdown-item" href="/dessert">Desserts</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                </ul>
              </li> </div> 
              
             </div>
        </div>
      </nav>
    