<%- include("partials/header"); -%>
   
<div class="second" >
        
    <div class="date"><h6>Present Day,2023 /</h6> </div>
    <div class="date" style="margin-left: 10px;"><a href="/baking;" style="text-decoration: none;color:black">baking</a></div>
    <img src="/images/DisplayCake.jpg" class="image1"  style="margin-top: 80px;" height="750" width="600">
    
    <div class="box1" style="margin-bottom: 20px;"><h1>Moist Chocolate Cake!</h1>
    <h3>Layers of Chocolate Cake with layered with Ganache!</h3></div>
    <div class="linkRecipe"><img src="/images/Edit arrow.png"  ><a type="button" href="#recipe" >Jump to recipe!</a></div>
    <div class="box2"><p>Indulge your senses in the divine pleasure of a moist chocolate cake, a recipe that beckons with its alluring aroma and decadent allure. What defines an outstanding chocolate cake? This Hershey's Perfectly Chocolate Cake requires just one bowl and a handful of simple ingredients. It's packed with a luxurious chocolate flavor, boasts a tender and moist texture, and is delightfully fluffy with precisely the right level of sweetness. It's the embodiment of chocolate dreams!</p></div>
</div>
<div class="break" style="margin-bottom: 0;padding-bottom: 0;">   
    <div class="mid" >
      <div class="blkimg" style="width:40px;"><img src="/images/icons8-heart-100.png" height="30"></div>
    <div class="blk" > <hr>  </div>
          
    <div class="blkimg" style="width:40px;"><img src="/images/icons8-heart-100.png" height="30"></div>
    <div class="blk" ><hr  ></div>
    <div class="blkimg" style="width:40px;"><img src="/images/icons8-heart-100.png" height="30"></div>
  
  </div>

</div>
<!-- <div class="middlecontainer"><p class="dots" style="font-size: 3rem;">.........</p></div> -->
<div class="middlecontainer">
<div class="bio" style="background-color: rgb( 121,206,214);border-radius: 1%;">
    <h1>Key Points</h2>
    <p>Chocolate flavour oozes all through this cake even though it’s only made with cocoa powder and a crumb so incredibly tender, this cake stays moist for a good 4-5 days. Whether you eat it plain, dust it with powdered sugar or serve with dollops of cream or scoops of ice cream, it truly is perfectly perfect!Here are some essential pointers:

        Start by sifting the dry ingredients into a spacious bowl to eliminate any stubborn lumps that may have formed during storage. This step also introduces more air into the mixture.
        
        Gradually add your wet ingredients, but be mindful that the cake batter will appear remarkably thin. Resist the temptation to add extra flour, as this is the key to achieving the cake's exceptional softness and moist texture.
        
        If you desire a more intense chocolate experience, consider adding a couple of teaspoons of instant coffee or espresso to the already flawless cake recipe. However, this step is completely optional, and the coffee flavor remains virtually undetectable.</p>
</div>
</div>
<div class="content"style="display:block;">
<div class="imageCar" style="display:inline-block;" >
 <h4 >Lets get started!</h4>
<div class="second"><img src="/images/fullChocolateCake.jpg"  height="700"></div>
</div>
<div class="instagram" style="display: inline-block;margin-left: 50px;position: relative;top:5px;border:1px solid black;box-shadow: 5px 10px black;">
<div class=" insta" style=" width:300px;height:auto;"><a href="https://www.instagram.com/foodrizzle000/" style="color:black;text-decoration: none;"><h2 style="margin-left: 30px;margin-top: 20px;" >Instagram</h2></a>
<img src="/images/LotusIce.jpg" style="height:100px;width:100px;margin:5px ;margin-left:30px;display: inline-block;">
<img src="/images/coffee.jpg" style="height:100px;width:100px;margin:5px ;display: inline-block;">
<img src="/images/Cookie.jpg" style="height:100px;width:100px;margin:5px ;margin-left:30px;display: inline-block;">
<img src="/images/Bread.jpg" style="height:100px;width:100px;margin:5px;display: inline-block;">
<img src="/images/drinks.jpg" style="height:100px;width:100px;margin:5px ;margin-left:30px;display: inline-block;margin-bottom: 30px;">
<img src="/images/falafel.jpg" style="height:100px;width:100px;margin:5px;display: inline-block;margin-bottom: 30px;">


</div>
</div>

</div>

<div class="major" id="recipe" style="margin-bottom: 100px;">
    <div class="top">
        <img class="image" src="/images/ChocCake.jpg" height="250">
        <h1>Moist Chocolate Cake!</h1>
        <p>The only tried and tested recipe for Mango cake you need that is  so soft and fluffy on the inside! </p>
        <button style="font-size: 1rem;" > click for recipe</button></div>

<div class="mid" style="margin-left: 50px;">
    <div class="blk"  > <hr>  </div>
         
    <div class="blkimg" style="width:40px;"><img src="/images/icons8-heart-100.png" height="30" style="margin-left: 20px;"></div>
    <div class="blk" ><hr  ></div></div>
<div class="mid"> 
    <div class="details"  >
    <h3 >Prep time:</h3>
    <p >10mins</p></div>
   <div class="details">
    <h3 >CookTime: </h3>
    <p >10mins</p></div></div>
<div class="mid" style="margin-top: 40px;margin-left: 50px;">
    
        <div class="blk" > <hr>  </div>
             
        <div class="blkimg" style="width:40px;"><img src="/images/icons8-heart-100.png" height="30" style="margin-left: 20px;"></div>
        <div class="blk" ><hr  ></div>
    </div>
      
<div class="top" style="height:auto;">
    <h3 >Ingredients:</h3>
    <ul>

        <li> 60 grams butter</li>
        <li>45 ml  Vegetable oil</li>
        <li>1 cup powdered Sugar</li>
        <li>1/2 cup Condensed Milk</li>
        <li>1 tbsp Vanilla extract</li>
        <li>1+1/2 cup All Purpose Flour</li>
        <li>1/4th cup Cornflour</li>
        <li>1 cup Cocoa poeder</li>
        <li>1+1/4th  tsp Baking Powder</li>
        <li>1 tsp Baking Soda</li>
        <li>1 cup Boiling hot water</li>
        <li>1/2 cup Milk at room temperature</li>
        <li>1/2 tbsp Vinegar</li>
        <li>simple sugar syrup at room temperature(equal parts of water and sugar boiled for 2-3 mins )</li>
        
    </ul>
    <h3>
        For Ganache:
    </h3>
    <uL>
        <li>400 ml fresh cream(I prefer Amul)</li>
        <li>350 grams 70% Dark chocolate</li>
        <li>1 tbsp Vanilla extract</li>
    </uL>

   
</div>
<div class="top" style="height:auto;">
    <h3>Method:</h3>
    <ul>
        <li>Preheat the oven at 180C for 10-15 mins.</li>
        <li>Add Vinegar to 1/2 cup of milk at room temperature and keep aside.</li>
        <li>Add Butter,oil & powdered sugar to a big bowl and whisk well until pale and creamy.</li>
        <li>Add condensed milk and vanilla extract and  whisk well for another 3-4 mins.</li>
        <li>Sift flour, cornflour, baking powder and baking soda in a separate bowl.</li>
        <li>Add half of flour mix to the butter mix and add half of milk-vinegar mixture and mix gently.</li>
        <li>Add remaining flour and adjust the consistency(ribbon like consistency) with remaining milk-vinegar mixture and mix well.</li>
        <li style="color:red">Donot overmix the batter</li>
        <li>Boil 1 cup of water and remove from heat. Add 1 cup of cocoa powder and mix well.</li>
        <li> Add bloomed cocoa mix to the cake batter and mix gently with a spatula.</li>
        <li>Pour in 2 6" cake tins(greased and lined) and bake in a preheated oven for 20-25 minutes or until a skewer comes out clean.</li>
        <li>For ganache:</li>
        <li>Chop the chocolate into small peices and add to a bog bowl.</li>
        <li>Heat the cream till it is hot and pour over the chocolate peices and keep aside for 10 mins.</li>

        <li>Gently stir the mixture till well combined, cover and refrigerate for 1 hour.</li>
        <li> Whip the ganache for 3-4 mins or till it is light brown in color.</li>
        
        
    </ul>
</div>
<div class="mid" style="margin-left: 50px;">
<div class="blk"  > <hr>  </div>
         
<div class="blkimg" style="width:40px;"><img src="/images/icons8-heart-100.png" height="30" style="margin-left: 20px;"></div>
<div class="blk" ><hr  ></div></div></div>

</div>


<%- include("partials/footer"); -%>