<%- include("partials/header"); -%>

<div class=" main">
    <div class ="pro" style="display: inline-block;"><img src="images/drinks.jpg "></div>
    <div class ="pro" style="display: inline-block;"><img src="images/Salad.jpg"></div>
    <div class ="pro" style="display: inline-block;"><img src="images/Sushi.jpg">  </div>
    <div class ="pro" style="display: inline-block;"><img src="images/Potatoes.jpg "> </div>
    <div class ="pro" style="display: inline-block;" ><img src="images/LotusIce.jpg " >  </div>
   
  </div>
<div class="break" style="margin-bottom: 0;padding-bottom: 0;">   
  <div class="mid" >
    <div class="blkimg" ><img src="images/icons8-heart-100.png" height="30"></div>
  <div class="blk" > <hr>  </div>
        
  <div class="blkimg" ><img src="images/icons8-heart-100.png" height="30"></div>
  <div class="blk" ><hr  ></div>
  <div class="blkimg" ><img src="images/icons8-heart-100.png" height="30"></div>

</div>

</div>
<div class="major" style="width:70%;border:none;box-shadow: none;padding-top: 0;margin-top: 0;">
<div class="top" style="height: auto;margin-left: 75px;margin-bottom: 0;padding-top: 0;"> <h2 style="padding-left: 75px;font-family: 'Times New Roman', Times, serif;">Food Met Programming and shared a lot over good food!</h2></div>


</div>
<div class="break" style="margin-top: 0;padding-top: 0;">   
<div class="mid" >
  <div class="blkimg" ><img src="images/icons8-heart-100.png" height="30"></div>
<div class="blk" > <hr>  </div>
      
<div class="blkimg" ><img src="images/icons8-heart-100.png" height="30"></div>
<div class="blk" ><hr  ></div>
<div class="blkimg" ><img src="images/icons8-heart-100.png" height="30"></div>

</div>

<div class="category" style="padding-top: 50px;margin-bottom: 5px;">  
<div class="top" ><h4 ><a href="/baking" style="text-decoration: none;color:black;">Baking:</a></h4></div>
<div class="main1 right" >
  <div class ="pro1" ><img src="./Display.jpg " ></div>
  <p class="adjust-line-height">Luscious and moist Mango Cake</p>
</div>
<div class="main1 left"  >
  
  <div class ="pro1"><img src="./StrawberryCake.jpg" ></div>
  <p class="adjust-line-height">Strawbery Cake with salsa</p>
</div>
<div class="main1 align " >
  
  <div class ="pro1" ><img src="./Halloumi.jpg" ></div>
  <p class="adjust-line-height">Halloumi Burger with salsa</p>
</div>
<div class="main1" style="margin-left:0;">
  
  <div class ="pro1" ><img src="./Cookie.jpg" ></div>
  <p class="adjust-line-height">Chocolate Cookie with salsa</p>
</div>

<a href="/baking" type="button" style="text-decoration: none;" >View more</a>
<div class="hr"> <hr ></div> 
</div>

<div class="category" style="padding-top: 10px;">
<div class="top" ><h4 ><a href="" >Salads:</a></h4></div>
<div class="main1 right" >
  
  <div class ="pro1" style="display: inline-block;"><img src="./Salad.jpg" ></div>
  <p class="adjust-line-height">Rocket and Orange salad</p>
</div>
<div class=" main1 left" >
  
  <div class ="pro1" style="display: inline-block;"><img src="./pastaSalad.jpg" ></div>
  <p class="adjust-line-height">Farfalle with Balsamic dressing</p>
</div>
<div class="main1 align">
  
  <div class ="pro1" style="display: inline-block;margin-left: 0;"><img src="./fruitSal.jpg" ></div>
  <p class="adjust-line-height">Seasonal Fruits and Nuts punch </p>
</div>
<div class="main1" style="margin-left: 0">
  
  <div class ="pro1" style="display: inline-block;margin-left: 0;"><img src="./Crispy cheese bake with beetroot salad.jpg" ></div>
  <p class="adjust-line-height">Potato and cheese bake with Beetroot Salad</p>
</div>
<a href="" type="button" style="text-decoration: none;">View more</a>
<div class="hr"> <hr ></div> 
</div>

<div class="category" style="padding-top: 10px;">
<div class="top" ><h4 ><a href="" >Drinks:</a></h4></div>
<div class="main1 right" >
  
  <div class ="pro1" style="display: inline-block;"><img src="./drinks.jpg" ></div>
  <p class="adjust-line-height">Watermelon Ginger and mint Cpooler</p>
</div>
<div class="main1 left" >
  
  <div class ="pro1" style="display: inline-block;"><img src="./mangoChia.jpg" ></div>
  <p class="adjust-line-height">Mango Chia with T-gum Cooler</p>
</div>
<div class="main1 align" >
  
  <div class ="pro1" style="display: inline-block;margin-left: 0;"><img src="./coffee.jpg" ></div>
  <p class="adjust-line-height">Cinnamon infused hot Chocolate</p>
</div>
<div class="main1" style="margin-left:0;">
  
  <div class ="pro1" style="display: inline-block;"><img src="./mangopan.jpg" ></div>
  <p class="adjust-line-height">The ultimate mango punch</p>
</div>
<a href="" type="button" style="text-decoration: none;">View more</a>
<div class="hr"> <hr ></div> 
</div>


<div class="category" style="padding-top: 10px;">
<div class="top" ><h4 ><a href="" style="text-decoration: none;color:black;">Maincourse:</a></h4></div>
<div class="main1 right" >
  
  <div class ="pro1" style="display: inline-block;"><img src="./kachori.jpg" ></div>
  <p class="adjust-line-height">Kachoris</p>
</div>
<div class="main1 left" >
  
  <div class ="pro1" style="display: inline-block;"><img src="./Mushroom.jpg" ></div>
  <p class="adjust-line-height">Mushroom Wraps</p>
</div>
<div class="main1 align" >
  
  <div class ="pro1" style="display: inline-block;margin-left: 0;"><img src="./pizza.jpg" ></div>
  <p class="adjust-line-height">Pesto-Marinara Pizza</p>
</div>
<div class="main1" style="margin-left:0;">
  
  <div class ="pro1" style="display: inline-block;"><img src="./falafel.jpg" ></div>
  <p class="adjust-line-height">Falafel and tahini Wraps</p>
</div>
<a href="" type="button" style="text-decoration: none;" >View more</a>
<div class="hr"> <hr ></div> 
</div>

<div class="category" style="padding-top: 10px;margin-bottom:150px;">
<div class="top" ><h4 ><a href="" style="text-decoration: none;color:black;">Desserts:</a></h4></div>
<div class="main1 right" >
  
  <div class ="pro1" style="display: inline-block;"><img src="./mangoIce.jpg" ></div>
  <p>Fresh Mango Icecream</p>
</div>
<div class="main1 left" >
  
  <div class ="pro1" style="display: inline-block;"><img src="./Ladoo.jpg" ></div>
  <p>Boondi Ladoo</p>
</div>
<div class="main1 align" style="margin-left: 0;margin-right: 30px;">
  
  <div class ="pro1" style="display: inline-block;margin-left: 0;"><img src="./chenna.jpg" ></div>
  <p>Chenna Murki</p>
</div>
<div class="main1" style="margin-left:0;">
  
  <div class ="pro1" style="display: inline-block;"><img src="./sevaiyan.jpg" ></div>
  <p>Sevaiyyan</p>
</div>
<a href="" type="button" style="text-decoration: none;" >View more</a>
<div class="hr"> <hr ></div> 
</div>

</div>




<%- include("partials/footer"); -%>