<%- include("partials/header"); -%>


<div class=" main">
    <!-- <div class ="prol" style="display: inline-block;"><img src="./drinks.jpg " height="600" width="400"></div> -->
    <div class ="mainImage " style="display: inline-block;"><img src="images/Salad.jpg" ><div class="heading"><h1 >Salads</h1></div></div>
    <div class ="mainImage styleOne" style="display: inline-block;"><img src="images/Sushi.jpg "> <div class="heading1" ><h1>Maincourse</h1></div> </div>
    <!-- <div class ="pro" style="display: inline-block;"><img src="./Potatoes.jpg " height="600" width="400"> </div> -->
    <div class ="mainImage styleTwo" style="display: inline-block;" ><img src="images/LotusIce.jpg " > <div class="heading2"  ><h1>Desserts</h1></div> </div>
    <!-- <div class="pro" style="display: inline-block;"><img src="./pasta.jpg "></div> -->
  </div>


<div class="content" >

    <div class="contentHeading" >
        <h5 style="padding-bottom: 10px;">New recipes</h5>
        <p style="padding-bottom: 0;margin-bottom: 0;">Maincourse</p>

        <hr >
    </div>
    <div class="form" >
        <form class="example" action="/tryMenu" method="get">
            <h4>Looking for a recipe search here instead!</h4>
            <input type="search" placeholder="Search..ðŸ”" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
            <hr >
          </form>
          
    </div>
</div>


  <div class="recipeContainer" >
    <div class="recipeHeading"  ><h2 >Aglio e Olio</h2><img src="images/pasta.jpg" >
        <p>When Literally translated, Spaghetti Aglio e Olio signifies "spaghetti with garlic and oil." This timeless and uncomplicated pasta hailing from the southern reaches of Italy is cherished for its robust garlic notes harmonized by the earthy richness of olive oil. Despite its minimal ingredient list, this dish delivers a satisfying impact, cementing its status as an Italian staple. Crafting a traditional Aglio e Olio Spaghetti is effortlessly achievable, rendering it an ideal choice for a swift weeknight meal or ......<a href="/pasta" > Read more</a> </p></div>

        <div class="introduction" >
        <div class="introContent" ><h1>hey all its nice to meet you all</h1><img src="images/dp.png" style="float: left;margin: 10px;"height="150" width="150"><p style="text-align: left;">Welcome! My name is Karina and this is my internet kitchen hang-out.
             A self-confessed balanced foodie sharing some waistline friendly recipes that are full of flavour. Life is too short for bland and boring   ></p> <a href="/ChocolateCake"   >Full Rnbbffffffecipe</a></div>

        <div>
            <div class="instagram" >
                <div class=" insta" style=" width:300px;height:auto;"> <a href="https://www.instagram.com/foodrizzle000/" style="color:black;text-decoration: none;"><h2 style="margin-left: 30px;margin-top: 20px;" >Instagram</h2></a>
                <img src="images/LotusIce.jpg" style="height:100px;width:100px;margin:5px ;margin-left:30px;display: inline-block;">
                <img src="images/coffee.jpg" style="height:100px;width:100px;margin:5px ;display: inline-block;">
                <img src="images/Cookie.jpg" style="height:100px;width:100px;margin:5px ;margin-left:30px;display: inline-block;">
                <img src="images/pizza.jpg" style="height:100px;width:100px;margin:5px;display: inline-block;">
                <img src="images/drinks.jpg" style="height:100px;width:100px;margin:5px ;margin-left:30px;display: inline-block;margin-bottom: 30px;">
                <img src="images/falafel.jpg" style="height:100px;width:100px;margin:5px;display: inline-block;margin-bottom: 30px;">
              
                
                </div>
               </div>
    </div>
  
</div></div>






<hr style="margin-left: 200px;width:800px;">


<div class="category" style="padding-top: 50px;margin-bottom: 5px;">  
<div class="top" ><h3 style="display:inline-block;letter-spacing: 1px;"><a href="/baking" style="text-decoration: none;color:black;text-shadow:  1px 1px grey;">Baking</a></h3>
<div class=" anchor"><a href="/baking" type="button"  >View more  </a>
  <img src="images/right-arrow.png" style="display:inline-block" height="20"></div>  </div>
<div class="main1 right" >
  <div class ="pro1" ><img src="images/MangoCake.jpg" ></div>
  <hr style="margin-left: 10px;width:300px;">
  <h6 class="adjust-line-height" style="margin-left: 12px;">Luscious and moist Mango Cake</h6>
</div>
<div class="main1 left"  >
  
  <div class ="pro1"><img src="images/StrawberryCake.jpg" ></div>
  <hr style="margin-left: 10px;width:300px;">
  <h6 class="adjust-line-height" style="margin-left: 12px;">Strawbery Cake with candied pineapple </h6>
</div>
<div class="main1 align " >
  
  <div class ="pro1" ><img src="images/Halloumi.jpg" ></div>
  <hr style="margin-left: 10px;width:300px;">
  <h6 class="adjust-line-height" style="margin-left: 12px;">Halloumi Burger with salsa</h6>
</div>
<div class="main1" style="margin-left:0;">
  
  <div class ="pro1" ><img src="images/Cookie.jpg" ></div>
  <hr style="margin-left: 10px;width:300px;">
  <h6 class="adjust-line-height" style="margin-left: 12px;">Nutella stuffed Chocolate Cookie </h6>
</div>



</div>


<div class="category" style="padding-top: 10px;">
<div class="top" ><h3 style="display:inline-block;"><a href="/salads" style="text-decoration: none;color:black;text-shadow:  1px 1px grey;">Salads</a></h3>
  <div class="anchor"><a href="/salads" type="button"  >View more  </a>
    <img src="images/right-arrow.png" style="display:inline-block" height="20"></div>
</div>
<div class="main1 right" >
  
  <div class ="pro1" style="display: inline-block;"><img src="images/Salad.jpg" ></div>
  <hr style="margin-left: 10px;width:300px;">
  <h6 class="adjust-line-height" style="margin-left: 12px;">Rocket and Orange salad</h6>
</div>
<div class=" main1 left" >
  
  <div class ="pro1" style="display: inline-block;"><img src="images/pastaSalad.jpg" ></div>
  <hr style="margin-left: 10px;width:300px;">
  <h6 class="adjust-line-height" style="margin-left: 12px;">Farfalle with Balsamic dressing</h6>
</div>
<div class="main1 align">
  
  <div class ="pro1" style="display: inline-block;margin-left: 0;"><img src="images/fruitSal.jpg" ></div>
  <hr style="margin-left: 10px;width:300px;">
  <h6 class="adjust-line-height" style="margin-left: 12px;">Seasonal Fruits and Nuts punch </h6>
</div>
<div class="main1" style="margin-left: 0;margin-right: 30px;">
  
  <div class ="pro1" style="display: inline-block;margin-left: 0;"><img src="images/Crispy cheese bake with beetroot salad.jpg" ></div>
  <hr style="margin-left: 10px;width:300px;">
  <h6 class="adjust-line-height" style="margin-left: 12px;">Potato and cheese bake with Beetroot Salad</h6>
</div>


</div>

  <div class="category" style="padding-top: 10px;">
    <div class="top" >
      <h3 style="display:inline-block;"><a href="/drinks" style="text-decoration: none;color:black;text-shadow:  1px 1px grey;">Drinks</a></h3>
    <div class="anchor"><a href="/drinks" type="button"  >View more  </a>
      <img src="images/right-arrow.png" style="display:inline-block" height="20"></div>

    </div>
    <div class="main1 right" >
      
      <div class ="pro1" style="display: inline-block;"><img src="images/drinks.jpg" ></div>
      <hr style="margin-left: 10px;width:300px;">
      <h6 class="adjust-line-height" style="margin-left: 12px;">Watermelon Ginger and mint Cooler</h6>
    </div>
    <div class="main1 left" >
      
      <div class ="pro1" style="display: inline-block;"><img src="images/mangoChia.jpg" ></div>
      <hr style="margin-left: 10px;width:300px;">
      <h6 class="adjust-line-height" style="margin-left: 12px;">Mango Chia with T-gum Cooler</h6>
    </div>
    <div class="main1" style="margin-left: 0;margin-right: 30px;">
      
      <div class ="pro1" style="display: inline-block;margin-left: 0;"><img src="images/coffee.jpg" ></div>
      <hr style="margin-left: 10px;width:300px;">
      <h6 class="adjust-line-height" style="margin-left: 12px;">Cinnamon infused hot Chocolate</h6>
    </div>
    <div class="main1" style="margin-left:0;">
      
      <div class ="pro1" style="display: inline-block;"><img src="images/mangopan.jpg" ></div>
      <hr style="margin-left: 10px;width:300px;">
      <h6 class="adjust-line-height" style="margin-left: 12px;">The ultimate mango punch</h6>
    </div>
</div>

<div  class="recipeHighlight" >
    <div class="introImage" ><img src="images/DisplayCake.jpg" height="400" width="400"></div>
    <div class="intro">
    <h1 > Gurpreet's Favourite!</h1>
    <h2 >Devil's Chocolate cake!</h2>
    <p > A home baker, now a fervent programmer, blending the artistry of baking with the logic of coding. From crafting delectable confections to crafting elegant algorithms, the transition was seamless. Finding joy in the precision of code and the creation of mouthwatering treats. A delightful journey from the kitchen to the digital realm, leaving a trail of delectable code and sweet successes along the way.</p>
    <div class="introAnchor"><a href="/ChocolateCake"   >Full Recipe</a><img src="images/right-arrow.png" style="display:inline-block;margin-left: 10px;" height="20"></div>
    </div></div>

</div>







<div class="category" style="padding-top: 10px; ">
<div class="top" >
  <h3 style="display:inline-block;letter-spacing: 1px;"><a href="/maincourse" style="text-decoration: none;color:black;text-shadow:  1px 1px grey;">Maincourse</a></h3>
<div class="anchor" style="margin-left: 60%;"><a href="/maincourse" type="button"  >View more  </a>
  <img src="images/right-arrow.png" style="display:inline-block" height="20"></div>
</div>
<div class="main1 right"  >
  
  <div class ="pro1" style="display: inline-block;"><img src="images/kachori.jpg" ></div>
  <hr style="margin-left: 10px;width:300px;">
  <h6 class="adjust-line-height" style="margin-left: 12px;">Kachoris</h6>
</div>
<div class="main1 left" >
  
  <div class ="pro1" style="display: inline-block;"><img src="images/Mushroom.jpg" ></div>
  <hr style="margin-left: 10px;width:300px;">
  <h6 class="adjust-line-height" style="margin-left: 12px;">Mushroom Wraps</h6>
</div>
<div class="main1" style="margin-left: 0;margin-right: 30px;">
  
  <div class ="pro1" style="display: inline-block;margin-left: 0;"><img src="images/pizza.jpg" ></div>
  <hr style="margin-left: 10px;width:300px;">
  <h6 class="adjust-line-height" style="margin-left: 12px;">Pesto-Marinara Pizza</h6>
</div>
<div class="main1" style="margin-left:0;">
  
  <div class ="pro1" style="display: inline-block;"><img src="images/falafel.jpg" ></div>
  <hr style="margin-left: 10px;width:300px;">
  <h6 class="adjust-line-height" style="margin-left: 12px;">Falafel and tahini Wraps</h6>
</div>


</div>

  <div class="category" style="padding-top: 10px;margin-bottom:150px;">
    <div class="top" >
      <h3 style="display:inline-block;width:auto;"><a href="/dessert" style="text-decoration: none;color:black;text-shadow:  1px 1px grey;">Desserts</a></h3>
    <div class="anchor" style="margin-left: 62%;"><a href="/dessert" type="button"  >View more  </a>
      <img src="images/right-arrow.png" style="display:inline-block" height="20"></div>
    </div>
    <div class="main1 right" >
      
      <div class ="pro1" style="display: inline-block;"><img src="images/mangoIce.jpg" ></div>
      <hr style="margin-left: 10px;width:300px;">
      <h6 class="adjust-line-height" style="margin-left: 12px;">Fresh Mango Icecream</h6>
    </div>
    <div class="main1 left" >
      
      <div class ="pro1" style="display: inline-block;"><img src="images/Ladoo.jpg" ></div>
      <hr style="margin-left: 10px;width:300px;">
      <h6 class="adjust-line-height" style="margin-left: 12px;">Boondi Ladoo</h6>
    </div>
    <div class="main1" style="margin-left: 0;margin-right: 30px;">
      
      <div class ="pro1" style="display: inline-block;margin-left: 0;"><img src="images/chenna.jpg" ></div>
      <hr style="margin-left: 10px;width:300px;">
      <h6 class="adjust-line-height" style="margin-left: 12px;">Chenna Murki</h6>
    </div>
    <div class="main1" style="margin-left:0;">
      
      <div class ="pro1" style="display: inline-block;"><img src="images/sevaiyan.jpg" ></div>
      <hr style="margin-left: 10px;width:300px;">
      <h6 class="adjust-line-height" style="margin-left: 12px;">Sevaiyyan</h6>
    </div>

   
  </div>
  
  </div>




  <%- include("partials/footer"); -%>