<form action="/upload" method="Post" enctype="multipart/form-data">
    <input type="file" name="imagery" />
    <input type="file" name="imagery1" />
   
    
    <button type="submit">Upload</button>
</form>





