<%- include("partials/header"); -%>
   
<div class="second" >
        
    <div class="date"><h6>2023-08-15/</h6> </div>
    <div class="date" style="margin-left: 10px;"><a href="/maincourse" style="text-decoration: none;color:black">maincourse</a></div>
    <img src="/images/pasta1.jpg" class="image1"  style="margin-top: 80px;" height="750" width="600">
    
    <div class="box1" style="margin-bottom: 20px;"><h1>Spaghetti Aglio E Olio !</h1>
    <h3>Spaghetti tossed in garlic, chilli, parsley, and olive oil sauce!</h3></div>
    <div class="linkRecipe"><img src="/images/Edit arrow.png"  ><a type="button" href="#recipe" >Jump to recipe!</a></div>
    <div class="box2"><p>When Literally translated, Spaghetti Aglio e Olio signifies "spaghetti with garlic and oil." This timeless and uncomplicated pasta hailing from the southern reaches of Italy is cherished for its robust garlic notes harmonized by the earthy richness of olive oil. Despite its minimal ingredient list, this dish delivers a satisfying impact, cementing its status as an Italian staple. Crafting a traditional Aglio e Olio Spaghetti is effortlessly achievable, rendering it an ideal choice for a swift weeknight meal or a delightful option to dazzle guests during a dinner gathering.</p></div>
</div>
<div class="break" style="margin-bottom: 0;padding-bottom: 0;">   
    <div class="mid" >
      <div class="blkimg" style="width:40px;"><img src="/images/icons8-heart-100.png" height="30"></div>
    <div class="blk" > <hr>  </div>
          
    <div class="blkimg" style="width:40px;"><img src="/images/icons8-heart-100.png" height="30"></div>
    <div class="blk" ><hr  ></div>
    <div class="blkimg" style="width:40px;"><img src="/images/icons8-heart-100.png" height="30"></div>
  
  </div>

</div>
<!-- <div class="middlecontainer"><p class="dots" style="font-size: 3rem;">.........</p></div> -->
<div class="middlecontainer">
<div class="bio" style="background-color: rgb( 121,206,214);border-radius: 1%;">
    <h1>Key Points</h2>
    <p>  For best Aglio E Olio, Opt for freshly peeled garlic cloves in this preparation, finely chopped with a knife. While few opt for sliced garlic, our preference leans towards minced garlic for optimal results. I advise against grating or using a garlic press, as these methods could lead to the garlic turning into a paste when sautéed in oil. Extra virgin olive oil is the main ingredient in this recipe so, try to get a good quality one if you can; spaghetti aglio e olio won't taste good if your oil is low quality or rancid. For pasta selection, I suggest opting for a long pasta variety, preferably bronze-cut as indicated on the packaging. This type's coarse and textured surface adheres more effectively to the sauce. Suitable options include spaghetti, linguine, bavette, bucatini, tagliatelle, fettuccine, and even angel hair pasta. If you require a gluten-free option, go for gluten-free spaghetti.</p>
</div>
</div>
<div class="content"style="display:block;">
<div class="imageCar" style="display:inline-block;" >
 <h4 >Lets get started!</h4>
<div class="second"><img src="/images/pasta.jpg"  height="700"></div>
</div>
<div class="instagram" style="display: inline-block;margin-left: 50px;position: relative;top:5px;border:1px solid black;box-shadow: 5px 10px black;">
<div class=" insta" style=" width:300px;height:auto;"><a href="https://www.instagram.com/foodrizzle000/" style="color:black;text-decoration: none;"><h2 style="margin-left: 30px;margin-top: 20px;" >Instagram</h2></a>
<img src="/images/LotusIce.jpg" style="height:100px;width:100px;margin:5px ;margin-left:30px;display: inline-block;">
<img src="/images/coffee.jpg" style="height:100px;width:100px;margin:5px ;display: inline-block;">
<img src="/images/Cookie.jpg" style="height:100px;width:100px;margin:5px ;margin-left:30px;display: inline-block;">
<img src="/images/Bread.jpg" style="height:100px;width:100px;margin:5px;display: inline-block;">
<img src="/images/drinks.jpg" style="height:100px;width:100px;margin:5px ;margin-left:30px;display: inline-block;margin-bottom: 30px;">
<img src="/images/falafel.jpg" style="height:100px;width:100px;margin:5px;display: inline-block;margin-bottom: 30px;">


</div>
</div>

</div>

<div class="major" id="recipe" style="margin-bottom: 100px;">
    <div class="top">
        <img class="image" src="/images/pasta.jpg" height="250">
        <h1>Spaghetti Aglio E Olio !</h1>
        <p>Spaghetti tossed in garlic, chilli, parsley, and olive oil sauce!</p>
        <button style="font-size: 1rem;" > click for recipe</button></div>

<div class="mid" style="margin-left: 50px;">
    <div class="blk"  > <hr>  </div>
         
    <div class="blkimg" style="width:40px;"><img src="/images/icons8-heart-100.png" height="30" style="margin-left: 20px;"></div>
    <div class="blk" ><hr  ></div></div>
<div class="mid"> 
    <div class="details"  >
    <h3 >Prep time:</h3>
    <p >10 mins</p></div>
   <div class="details">
    <h3 >CookTime: </h3>
    <p >20 mins</p></div></div>
<div class="mid" style="margin-top: 40px;margin-left: 50px;">
    
        <div class="blk" > <hr>  </div>
             
        <div class="blkimg" style="width:40px;"><img src="/images/icons8-heart-100.png" height="30" style="margin-left: 20px;"></div>
        <div class="blk" ><hr  ></div>
    </div>
      
<div class="top" style="height:auto;">
    <h3 >Ingredients:</h3>
    <ul>

        <li>Kosher salt. </li>
        <li>1 pound dried spaghetti, such as DeCecco.</li>
        <li>1/3 cup Extra Virgin olive oil.</li>
        <li>8 large garlic cloves, cut into thin slivers.</li>
        <li>1/2 teaspoon crushed red pepper flakes.</li>
        <li>1/2 cup minced fresh parsley.</li>
        <li>1 cup freshly grated Parmesan cheese, plus extra for serving.</li>
       
        
    </ul>

   
</div>
<div class="top" style="height:auto;">
    <h3>Method:</h3>
    <ul>
        <li>Bring a large pot of water to a boil. </li>
        <li>Add 2 tablespoons of salt and the pasta and cook according to the directions on the package. </li>
        <li>Set aside 1 1/2 cups of the pasta cooking water before you drain the pasta.</li>
        <li>Meanwhile, heat the olive oil over medium heat in a pot large enough to hold the pasta.</li>
        <li>Add the garlic and cook for 2 minutes, stirring frequently, until it just begins to turn golden on the edges-don't overcook it!.</li>
        <li>Add the red pepper flakes and cook for 30 seconds more. </li>
        <li>Carefully add the reserved pasta-cooking water to the garlic and oil and bring to a boil. </li>
    
        <li>Lower the heat, add 1 teaspoon of salt, and simmer for about 5 minutes, until the liquid is reduced by about a third.</li>
        <li>Add the drained pasta to the garlic sauce and toss. Off the heat, add the parsley and Parmesan and toss well. </li>
        <li>Allow the pasta to rest off the heat for 5 minutes for the sauce to be absorbed. </li>
        <li>Taste for seasoning and serve warm with extra Parmesan on the side.</li>
       
        
        
    </ul>
</div>
<div class="mid" style="margin-left: 50px;">
<div class="blk"  > <hr>  </div>
         
<div class="blkimg" style="width:40px;"><img src="/images/icons8-heart-100.png" height="30" style="margin-left: 20px;"></div>
<div class="blk" ><hr  ></div></div></div>

</div>


<%- include("partials/footer"); -%>