<%- include("partials/header"); -%>
   
<div class="second" >
        
    <div class="date"><h6>Present Day,2023 /</h6> </div>
    <div class="date" style="margin-left: 10px;"><a href="" style="text-decoration: none;color:black">Category</a></div>
    <img src="images/MangoCake.jpg" class="image1"  style="margin-top: 80px;" height="750" width="600">
    
    <div class="box1" style="margin-bottom: 20px;"><h1>Moist Mango Cake!</h1>
    <h3>Layers of Chiffon Cake with goodness of Mangoes!</h3></div>
    <div class="linkRecipe"><img src="images/Edit arrow.png"  ><a type="button" href="#recipe" style>Jump to recipe!</a></div>
    <div class="box2"><p>APRIL 28, 2019 CAKES & BROWNIES

        ONE BOWL MANGO CAKE WITH FROSTING
        Share
        Tweet
        Pin
        Share
        
        Mangoes are here and I hope you’re making the most of them this season. A lot of you made the ragi crepes with mango rose when I shared it a couple of weeks back. Now it’s time to bake a mango cake! Very excited to share another recipe from my book Bake With Prit. This one bowl mango cake is extremely simple to bake and all the ingredients you need are very simple and basic. I top this cake with cardamom cream cheese frosting and it’s an absolute delight!</p></div>
</div>
<div class="break" style="margin-bottom: 0;padding-bottom: 0;">   
    <div class="mid" >
      <div class="blkimg" style="width:40px;"><img src="images/icons8-heart-100.png" height="30"></div>
    <div class="blk" > <hr>  </div>
          
    <div class="blkimg" style="width:40px;"><img src="images/icons8-heart-100.png" height="30"></div>
    <div class="blk" ><hr  ></div>
    <div class="blkimg" style="width:40px;"><img src="images/icons8-heart-100.png" height="30"></div>
  
  </div>

</div>
<!-- <div class="middlecontainer"><p class="dots" style="font-size: 3rem;">.........</p></div> -->
<div class="middlecontainer">
<div class="bio" style="background-color: antiquewhite;border-radius: 1%;">
    <h1>Key Points</h2>
    <p>Before you ask, unfortunately, there is no substitute for eggs in this recipe. I add as many as 4 eggs to this one bowl mango cake and that is what makes this cake light and fluffy. To make mango puree for this cake, all you have to do is take out the pulp of fresh ripe mangoes and run it in the food processor. I also use vegetable oil in this recipe but you can also use equal quantity of softened butter.</p>
</div>
</div>
<div class="content"style="display:block;">
<div class="imageCar" style="display:inline-block;" >
 <h4>Lets get started for this Luscious Mango Cake!</h4>
<div class="second"><img src="images/fullMangoCake.jpg"  height="700"></div>
</div>
<div class="instagram" style="display: inline-block;margin-left: 50px;position: relative;top:5px;border:1px solid black;box-shadow: 5px 10px black;">
<div class=" insta" style=" width:300px;height:auto;"> <h1 style="display: inline-block;margin-left: 30px;margin-right: 50px;margin-bottom: 30px;">Instagram</h1>
<img src="images/LotusIce.jpg" style="height:100px;width:100px;margin:5px ;margin-left:30px;display: inline-block;">
<img src="images/coffee.jpg" style="height:100px;width:100px;margin:5px ;display: inline-block;">
<img src="images/Cookie.jpg" style="height:100px;width:100px;margin:5px ;margin-left:30px;display: inline-block;">
<img src="images/Bread.jpg" style="height:100px;width:100px;margin:5px;display: inline-block;">
<img src="images/drinks.jpg" style="height:100px;width:100px;margin:5px ;margin-left:30px;display: inline-block;margin-bottom: 30px;">
<img src="images/falafel.jpg" style="height:100px;width:100px;margin:5px;display: inline-block;margin-bottom: 30px;">


</div>
</div>

</div>

<div class="major" id="recipe" style="margin-bottom: 100px;">
    <div class="top">
        <img class="image" src="images/MangoCake.jpg" height="250" >
        <h1>Moist Mango Cake!</h1>
        <p>The only tried and tested recipe for Mango cake you need that is  so soft and fluffy on the inside and gorgeously Yummy as well! </p>
        <button  > click for recipe</button></div>

<div class="mid" style="margin-left: 50px;">
    <div class="blk"  > <hr>  </div>
         
    <div class="blkimg" style="width:40px;"><img src="images/icons8-heart-100.png" height="30" style="margin-left: 20px;"></div>
    <div class="blk" ><hr  ></div></div>
<div class="mid"> 
    <div class="details"  >
    <h3 >Prep time:</h3>
    <p >10mins</p></div>
   <div class="details">
    <h3 >CookTime: </h3>
    <p >10mins</p></div></div>
<div class="mid" style="margin-top: 40px;margin-left: 50px;">
    
        <div class="blk" > <hr>  </div>
             
        <div class="blkimg" style="width:40px;"><img src="images/icons8-heart-100.png" height="30" style="margin-left: 20px;"></div>
        <div class="blk" ><hr  ></div>
    </div>
      
<div class="top" style="height:auto;">
    <h3 >Ingredients:</h3>
    <ul>

    <li> 50 grams butter</li>
        <li>45 ml  Vegetable oil</li>
        <li>1/3rd cup powdered Sugar</li>
        <li>1/3rd cup Condensed Milk</li>
        <li>1 tbsp Vanilla extract</li>
        <li>1+1/4th cup All Purpose Flour</li>
        <li>1/4th cup Cornflour</li>
        <li>1+1/4th  tsp Baking Powder</li>
        <li>1/4th tsp Baking Soda</li>
        <li>1 cup Milk(room temperature)</li>
        <li>1/2 tbsp Vinegar</li>
    </ul>
   
</div>
<div class="top" style="height:auto;">
    <h3>Method:</h3>
    <ul>
        <li>Preheat the oven at 180C for 10-15 mins.</li>
        <li>Add Vinegar to 1 cup of milk at room temperature and keep aside.</li>
        <li>Add Butter,oil & powdered sugar to a big bowl and whisk well until pale and creamy.</li>
        <li>Add condensed milk and whisk well for another 3-4 mins.</li>
        <li>Sift flour, cornflour, baking powder and baking soda in a separate bowl.</li>
        <li>Add half of flour mix to the butter mix and add half of milk-vinegar mixture and mix gently.</li>
        <li>Add remaining flour and adjust the consistency(ribbon like consistency) with remaining milk-vinegar mixture and mix well.</li>
        <li>Bake in a preheated oven for 20-25 minutes or until a skewer comes out clean.</li>
        
    </ul>
</div>
<div class="mid" style="margin-left: 50px;">
<div class="blk"  > <hr>  </div>
         
<div class="blkimg" style="width:40px;"><img src="images/icons8-heart-100.png" height="30" style="margin-left: 20px;"></div>
<div class="blk" ><hr  ></div></div></div>

</div>


<%- include("partials/footer"); -%>